{% extends "base.html" %}'
{% load staticfiles %}
{% block content %}

<div class="container">
  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
    a matter of hours to help you.</p><br><br>

 
      <!--Grid column-->
      
        <form method="post" action="contact_form_submission/" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="KlPWNZphguc0ThjIxtcofTY1JlbDq8rNNWvs3xkZ44435jpj5xsxRlQR4AKzL8rQ">
              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="contact_name" name="contact_name" class="form-control">
                          <label for="contact_name" class="">Your name</label>
                      </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="contact_email" name="contact_email" class="form-control">
                          <label for="contact_email" class="">Your email</label>
                      </div>
                  </div>
                  <!--Grid column-->

              </div><br><br>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                          <input type="text" id="contact_subject" name="contact_subject" class="form-control">
                          <label for="contact_subject" class="">Subject</label>
                      </div>
                  </div>
              </div><br><br>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                      <div class="md-form">
                          <textarea type="text" id="contact_message" name="contact_message" rows="2" class="form-control md-textarea"></textarea>
                          <label for="contact_message">Your message</label>
                      </div>

                  </div>

              </div><br><br>
              <!--Grid row-->
              <button class='btn btn-primary btn-block' type="submit">Submit</button>
          </form>

          

      <!--Grid column-->
</div>
{% endblock %}