{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


    
<div class="region region-content">
  <article data-history-node-id="17" role="article" about="/leadership" class="content-type-page is-promoted full clearfix">

  
    

  
  <div class="content">
    
      <div class="field field--name-field-layouts field--type-entity-reference-revisions field--label-hidden field--items">
              <div class="field--item"><aside class="fill-wrapper content streamer">
    <ul class="banner cycle-slideshow"
            data-cycle-slides="li"
            data-cycle-fx=fade
            data-cycle-pager=".gauge"
            data-cycle-auto-height="calc"
            data-cycle-timeout=6000>
              <li>
            <img src="{% static 'img/Team.jpg' %}">
            <div class="blind"></div>
            <div class="container">
              <div class="row copyContainer">
                <div class="copy smallBanner" > 
                    <div class="message">
                      <h2 class="sideBorder">Team </h2>
                      <div class="msg-descp"><h5></h5>
  </div>
                                              </div>
                    <p>&nbsp;<br>
                      &nbsp;<br>
                      &nbsp;<br>
                      &nbsp;</p>
                </div>
            </div>
            </div>
        </li>
          </ul>
  </aside></div>
              <div class="field--item"><!-- condition for button layout starts here -->

    <!-- condition for button layout ends here -->

<!-- Content Cards Carousel Section starts here -->
<section class="content-cards-carousel-section content-block team-member" >
    <div class="container">
      <div class="inner-line">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="card-wrapper">
                      <div class="cards-wrapper">
                        <img src="{% static 'index/sites/default/files/2018-01/vivek.png' %}" class="cards-avatar center-block">
                        <h4 class="section-subheading">
                          Vivek Kumar Sharma

                        </h4>
                        <p>
                                                      Founder & CEO

                              <br>
                                                      BlackHorse Capital
                        </p>
                                                <button type="button" class="btn btn-primary transparent-bg" data-toggle="modal" data-target="#customModal031" data-type="customModal">
                          Read More
                        </button>
                                              </div>
                    </div>
                  </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="card-wrapper">
                      <div class="cards-wrapper">
                        <img src="{% static 'index/sites/default/files/2018-01/nitish.png' %}" class="cards-avatar center-block">
                        <h4 class="section-subheading">
                          Nitish Chaturvedi

                        </h4>
                        <p>
                                                      Co-Founder

                              <br>
                                                      BlackHorse Capital
                        </p>
                                                <button type="button" class="btn btn-primary transparent-bg" data-toggle="modal" data-target="#customModal131" data-type="customModal">
                          Read More
                        </button>
                                              </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="card-wrapper">
                      <div class="cards-wrapper">
                        <img src="{% static '/img/Goel.jpg' %}" class="cards-avatar center-block">
                        <h4 class="section-subheading">
                          Sanjiv Goel

                        </h4>
                        <p>
                         Advisory Member

                              <br>
                              BlackHorse Capital
                        </p>
                                                <button type="button" class="btn btn-primary transparent-bg" data-toggle="modal" data-target="#customModal132" data-type="customModal">
                          Read More
                        </button>
                                              </div>
                    </div>
                  </div>

                                  
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Content Cards Carousel Section ends here -->

  <!-- Modal Container starts here -->
  <div class="modal fade custom-modal" tabindex="-1" role="dialog" id="customModal031">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon icon--close"></i></button>
          <div class="inner-body-wrapper">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <img src="{% static 'index/sites/default/files/2018-01/vivek.png' %}" class="leaders-avatar img-responsive center-block">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="leaders-info-box">
                  <h3 class="leaders-name">Vivek Kumar Sharma</h3>
                  Founder & CEO
                  <br>
                  BlackHorse Capital
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class ="leaders-profile">
                  <p><span><span><span>He has over 5 years of experience spanning in private equity, corporate strategy and investment. He has deep industry knowledge across a wide range of sectors with robust understanding of M&A, capital markets. He is a graduate from Institute of Management Technology, Dubai with an MBA concentrating in Finance.</span></span></span></p>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Container ends here -->
  <!-- Modal Container starts here -->
  <div class="modal fade custom-modal" tabindex="-1" role="dialog" id="customModal131">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon icon--close"></i></button>
          <div class="inner-body-wrapper">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <img src="{% static 'index/sites/default/files/2018-01/nitish.png' %}" class="leaders-avatar img-responsive center-block">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="leaders-info-box">
                  <h3 class="leaders-name">Nitish Chaturvedi</h3>
                  Co-Founder
                  <br>
                  BlackHorse Capital
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class ="leaders-profile">
                  <p>He is an MBA graduate in finance from IMT-Dubai and CFA level 2 cleared  with robust experience of 5 years in corporate finance,investment banking, valuation and research activities. he has performed on transaction covering  diverse industries like Automobiles, Financial Services, Renewable Energy, Chemicals , etc .</p>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade custom-modal" tabindex="-1" role="dialog" id="customModal132">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon icon--close"></i></button>
          <div class="inner-body-wrapper">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <img src=" {% static '/img/Goel.jpg' %}" class="leaders-avatar img-responsive center-block">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="leaders-info-box">
                  <h3 class="leaders-name">Sanjiv Goel</h3>
                  Advisory Member   
                  <br>
                  BlackHorse Capital
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class ="leaders-profile">
                  <p>Mr. Sanjiv Goel, ex - MD, ArcelorMittal has more than 33 years of sales & marketing strategy and mergers & acquisitions, corporate experience, operations management and his forte is Techno-Commercial environment and Customer Service. He is a natural leader and team player with the ability to turn vision into reality. <br>
                    He has gained his vast experience in India, Europe and Middle East, and has a good understanding of business practices and nuances across the world.
                  </p>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Container ends here -->
  
</div>
          </div>
  
  </div>

</article>


</div>
{% endblock %}